<!DOCTYPE html><html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, inital-scale=1.0">
    <title>Best ways to spend your summer</title>
`   <link rel="stylesheet"href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    <div class="grid-container">
        <div class="grid-item item2"> PLACES TO LEARN,
            -Coder School,-Musical Elements,-Cross Point Church,-(GCPI) Duluth Liberary!
        </div>
        <div class="grid-item item3"> PLACES TO EAT!
            -Roma Italiano,-Jinya Ramin,-Bitzal's Choclate
        </div>
        <div class="grid-item item4">PLACES TO PLAY
        -Downtown Duluth,-Xtreme Hopp,-Icandy Art Sutio!
        </div>
        <div class="grid-item item5">Have a blessed and wonderful summer!!  -Elroi</div>
    </div>
</body>
</html>i
<img src="{{url_for('static', filename='Heart.png')}}" alt="Heart" width="200"height="150">
