<!DOCTYPE html>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, inital-scale=1.0">
    <title>Best ways to spend your summer</title>
`   <link rel="stylesheet"href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    <h1 class="text"> The BEST places to go to in summer near Duluth and John's Creek! </h1>
    <p class="text">There are so many suggesttions and fun things! </p>
    <a href="/second"><button>click me to see more!</button></a>
    <script src="{{url_for('static', filename='script.js')}}"></script>

    <div class="flex-container">
        <img src="{{url_for('static', filename='xtreme hopp.jpg')}}" class="imgPlacementleft imgItem" alt="Left Image">
        <img src="{{url_for('static', filename='smile.jpg')}}" class="imgPlacementcenter imgItem" alt="Center Image">
        <img src="{{url_for('static', filename='city-hall-and-the-town-green-in-downtown-duluth-georgia-EHP88Y.jpg')}}" class="imgPlacementright imgItem" alt="Right Image">
    </div>
</body>
    
</html>